#app  
  .center-column
    h1 全台桌遊店家
    h3 資料來源 - 新天鵝堡與桌末狂歡
    .pagination
      ul
        li( :class="{'disabled': (currPage === 1)}" 
            @click.prevent="setPage(currPage-1); reOrder()" )
          a(href="#") Prev
        li( :class="{'active': (currPage === (n))}"
            @click.prevent="setPage(n); reOrder()"
            v-for="n in totalPage" )
          a(href="#") {{n}}
        li( :class="{'disabled': (currPage === totalPage)}" 
            @click.prevent="setPage(currPage+1); reOrder()" )
          a(href="#") Next
    .search 搜尋：
      input( type="text" v-model="filter_name" style="margin:0")
      button( @click="filter_name = ''; reOrder()" ) 清除
    .search 店家類型：
      button( @click="filter_name = \'桌遊專門店\'; reOrder(); currPage=1;" ) 桌遊專門店
      button( @click="filter_name = \'桌遊販賣店\'; reOrder(); currPage=1;" ) 桌遊販賣店
      button( @click="filter_name = \'複合式餐飲桌遊店\'; reOrder(); currPage=1;" ) 複合式餐飲桌遊店
      button( @click="filter_name = \'其他\'; reOrder(); currPage=1;" ) 其他
    .search 縣市：
      button( @click="filter_name = \'臺北\'; reOrder(); currPage=1;" ) 臺北
      button( @click="filter_name = \'新北\'; reOrder(); currPage=1;" ) 新北
      button( @click="filter_name = \'桃園\'; reOrder(); currPage=1;" ) 桃園
      button( @click="filter_name = \'臺中\'; reOrder(); currPage=1;" ) 臺中
      button( @click="filter_name = \'高雄\'; reOrder(); currPage=1;" ) 高雄
  .store-column
    .inner-column
      .store( v-for="(data,id) in filteredRows.slice(pageStart,pageStart+countOfPage)" )
        .box( @click="showInfo(id)" )
          .title {{data.storeName}}
          hr
          //- img.image( :src="'http://www.jomorparty.com/system/store/photo/' + data.storePhoto" alt="")
          .address 地址：{{data.storeAddress}}
          hr
          .info 類型：{{data.storeType}}
            //- span(v-html="data.storeSpend") 
  .store-outclick( v-if="outclick_show" @click="closeInfo")
  .store-info
    .center-column   
      .store-title
        h1 {{stores[2].data[stores_id].storeName}}
        strong.exit( @click="closeInfo" ) X
      .info-column        
        .left
          .left-column            
            //- img.store-data.store-img( v-bind:src="'http://www.jomorparty.com/system/store/photo/' + stores[2].data[stores_id].storePhoto", alt="")
            .bottom-column
              .store-data.store-type 類型: {{stores[2].data[stores_id].storeType}}
              .store-data.store-address 地址: 
                br
                span {{stores[2].data[stores_id].storeAddress}}
              .store-data.store-phone 電話: {{stores[2].data[stores_id].storeNumber}}
              .store-data.store-time 營業時間: 
                br
                span(v-html="stores[2].data[stores_id].storeTime")
              .store-data.store-spend 消費模式:
                br
                span(v-html="stores[2].data[stores_id].storeSpend")
              
        .right
          .right-column
            iframe(v-if="outclick_show" v-bind:src="stores[2].data[stores_id].googleURL", frameborder="0" allowfullscreen="")
           
